# Port for the express backend server (Render automatically sets this, but you can define it locally)
PORT=5000

# Connection string for MongoDB database (e.g., MongoDB Atlas connection string for production)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/dineverse?retryWrites=true&w=majority

# Secret key used to sign and verify JWT authentication tokens (use a long, secure random string)
JWT_SECRET=your_jwt_super_secret_key
